<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel ="stylesheet" type= "text/css" href="css/lightbox.min.css">
    <script src="js/lightbox-plus-jquery.min.js"> </script>
    <style>


body {
       background-image: url("/static/a4.jpg");;
       background-size:100%;
       background-position-x: center; 
       
       
      
    }
    .container > img:hover {
  width: 500px;
  height: 200px;
}
    a:link, a:visited {
            background-color:  #191630;
            color: white;
            padding: 14px 25px;
            text-align: center;
            display: inline-block;
}

a:hover, a:active {
  background-color: rgb(153, 26, 153);
}
#lastone:link, #lastone:visited {
            background-color: #191630;
            color: white;
            padding: 14px 25px;
            text-align: center;
            display: inline-block;
            padding-top: 10px;
          padding-bottom: 10px;
}

#lastone:hover, #lastone:active {
  background-color: #191630;
  padding-bottom: 10px;
  padding-top: 10px;
}

#h2tag{
  color: black;
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
}
    </style>

    <title>MarksPrediction!</title>
  </head>
    <body>
      <nav class="navbar navbar-expand-lg ">
         <a class="navbar-brand" href="/">MarksPrediction </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
      
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto"> 
             <li class="nav-item ">
               <a class="nav-link" href="/">Predictor <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/Analysis">Analysis <span class="sr-only">(current)</span> </a>
             </li>
            
             <li class="nav-item">
               <a class="nav-link " href="/Visualisation" tabindex="-1" aria-disabled="true">Visualisation</a>
             </li>

             <li class="nav-item active">
              <a class="nav-link " href="/Dataset" tabindex="-1" aria-disabled="true">Student previous Result </a>
            </li>
            
           </ul>
          
         </div>
       </nav>

       <!-- Page Content -->
<div class="Gallery">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Graph Gallery</h1>
  
  
    <div class="row text-center text-lg-left">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a  href="static/bk5.jpg"  data-lightbox="mygallery "class="d-block mb-4 h-100" target="_top">
              <img class="img-fluid img-thumbnail" src="static/bk5.jpg" alt="">
            </a>
      </div>
       
      <div class="col-lg-3 col-md-4 col-6">
        <a href="/static/bk7.jpg" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="static/bk7.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
            </a>
      </div>
    </div>
  
  </div>
       
    </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>